body{
    background: #FBF8F8;
    font-family: "Open Sans", sans-serif;
    }

#wrapper {
    font-size: 1.5rem;
    text-align: center;
    box-sizing: border-box;
    color: #415161;
}
    
#dialog {
    border: solid 1px #fff;
    margin: 50px auto;
    padding: 50px 30px;
    display: inline-block;
    box-shadow: 0 0 4px #ccc;
    background-color: #FFF;
    overflow: hidden;
    position: relative;
    max-width: 500px;
}
      
h3 {
    font-size: 24px;
    line-height: 28px;
    color: #605DEC;
}

h6{
    font-size: 18px;
    font-weight: normal;
    line-height: 21px;
    color: #2C3E50;
    padding-top: 28px;
}
      
p{
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    color: #2C3E50;
    padding-top: 28px;
}

button {
    background: #605DEC;
    border: none;
    color: white;
    margin-top: 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    width: 250px;
    height: 45px;
    margin-left: 200px;
    border-radius: 4px;
}          